body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#topPic {
  height: 300px;
  /*width: 1200px;*/
  overflow: hidden;
}

li {
  display: inline;
}

a {
  color: black;
}

.editable-radiolist label {
  display: block;
}

.noPic {
  height: 175px;
  width: 175px;
  background-color: darkslateblue;
}

.onHold {
  border-color: orange;
}

.pulled {
  border-color: red;
}

.editable-buttons {
  display: block;
}