<div class="col-md-4">
    <div class="well">
        <img src="../images/apple.png" alt="apple placeholder"/>
        <h3>{{costume.cosColor}} {{costume.cosGender}}
            <a href="#" editable-text="costume.cosType" onaftersave="submitChanges()">{{costume.cosType || 'empty'}}</a></h3>
        <p>{{costume.cosNumber}}</p>
        <p>{{costume.cosSize}}</p>
        <p>{{costume.napeToHem}}"</p>
        <p>{{costume.shoulderToWrist}}"</p>
        <p>{{costume.inseam}}"</p>
        <p>{{costume.length}}"</p>
        <p>{{costume.waist}}"</p>
        <check-out></check-out>
        <show-status></show-status>
    </div>
</div>